
.icon-direction:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e802'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-empty:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80f'; } /* '' */
.icon-angle-up:before { content: '\e810'; } /* '' */
.icon-angle-down:before { content: '\e811'; } /* '' */
.icon-angle-circled-up:before { content: '\e812'; } /* '' */
.icon-angle-circled-down:before { content: '\e813'; } /* '' */
.icon-angle-double-left:before { content: '\e814'; } /* '' */
.icon-angle-double-right:before { content: '\e815'; } /* '' */
.icon-angle-double-up:before { content: '\e816'; } /* '' */
.icon-angle-double-down:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-pinterest-circled:before { content: '\e819'; } /* '' */
.icon-twitter:before { content: '\e81a'; } /* '' */
.icon-skype:before { content: '\e81b'; } /* '' */
.icon-gplus:before { content: '\e81c'; } /* '' */
.icon-facebook:before { content: '\e81d'; } /* '' */
.icon-linkedin:before { content: '\e81e'; } /* '' */
.icon-credit-card:before { content: '\e81f'; } /* '' */
.icon-sort-name-up:before { content: '\e820'; } /* '' */
.icon-sort-name-down:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */
.icon-pencil:before { content: '\e824'; } /* '' */
.icon-bell:before { content: '\e825'; } /* '' */
.icon-attach:before { content: '\e826'; } /* '' */
.icon-plus-squared-alt:before { content: '\e827'; } /* '' */
.icon-minus-squared-alt:before { content: '\e828'; } /* '' */
.icon-info:before { content: '\e829'; } /* '' */
.icon-search:before { content: '\e82a'; } /* '' */
.icon-picture:before { content: '\e82b'; } /* '' */
.icon-trash:before { content: '\e82c'; } /* '' */